/*
  Personal Stylesheet
*/

#game {
  margin: 10px;
}

#game button {
  width: 100%;
}

#category {
  text-transform: uppercase;
}

#question{
  background-color: #fafafa;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
}

#answer {
  display: none;
}

#inprogress {
  display: none;
}
