/*
  Personal Stylesheet
*/

.container {
  text-align: center;
}

#game {
  display: inline-block;
  margin: 10px;
}

#game button {
  width: 100%;
}

#question{
  background-color: #fafafa;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
}

#inprogress {
  display: none;
}

#playagain {
  display: none;
}
