/*
  Personal Stylesheet
*/

@font-face {
  font-family: SF Hollywood Hills;
  src: url(SF_Hollywood_Hills.woff);
}

body {
  font-family: 'Rubik', sans-serif;
  background-color: black;
  color: white;
}

/*Begin header styling*/

#pagetop{
  background-color: rgba(0,0,0,0.9);
  border-bottom: 1px solid #808080;
}

.navbar.navbar-brand {
  text-align: left;
  font-size: 40px;
  font-family: 'SF Hollywood Hills', sans-serif;
  color: #EB553F;
}

.option {
  color: black;
  font-size: 15px;
  padding: 3px;
  margin: 5px;
  background-color: #729678;
  border: 1px solid #8B7266;
  border-radius: 5px;
  font-weight: bolder;
}

.option:hover {
  color: #736259;
  font-style: italic;
  background-color: #A3C9A6;
  border: 4px solid #8B7266;
}

.navbar.nav-item {
  float: right;
}

/*Begin General Page Styling*/

.content {
  display: inline-block;
}

.restofpage {
  text-align: center;
  background-color: black;
  border-top: 1px solid #808080;
  padding-top: 0px;
  padding-bottom: 15px;
}

.restofpage h1 {
  font-family: 'SF Hollywood Hills', sans-serif;
  margin: 10px;
  margin-left: 30px;
  margin-right: 30px;
  border: 3px dotted #8B7266;
  border-radius: 20px;
  padding: 10px;
  color: #EB553F;
}

.content h3 {
  color: #729678;
  text-decoration: underline;
}

.internal {
  margin: 0px 5% 0px 5%;
  padding: 20px;
}

.internal a {
  color: #729678;
}

.internal a:hover {
  color: #EB553F;
}

/*Carousel styling*/

.carousel-caption {
  /*background-color: #8b7266; Light brown color*/
  background: rgba(0, 0, 0, 0.7);
  padding: 5px;
}

.carousel-caption h5 {
  color: #EB553F;
}

/*Begin Welcome styling*/

#welcome h1 {
  margin-top: 15px;
  margin-left: 35%;
  margin-right: 35%;
}

#boxofficeintro {
  margin-bottom: 0px;
  padding: 5px 10px 5px 10px;
}

#topbox {
  padding: 5px;
  margin: 0px 25% 0px 25%;
  border: 2px solid #EB553F;
  border-radius: 10px;
}

#badboys {
  width: 95%;
}

#badboyscap {
  padding-top: 10px;
  font-size: 12px;
}

#boxofficetable table {
  border-collapse: collapse;
}

#boxofficetable table, #boxofficetable th, #boxofficetable td {
  border: 2px solid #8B7266;
}

#boxofficetabletop {
  background-color: #729678;
  color: black;
  text-align: center;
}

#boxofficetabletop th, tr td{
  padding: 1%;
}

#boxofficetable tr td {
  font-size: 13px;
}

.bofilmtitle {
  font-style: italic;
}

#covid {
  margin-top: 10px;
  font-size: 10px;
  font-style: italic;
  color: white;
  padding: 0px 10% 0px 10%;
}

#note {
  color: #EB553F;
}

/*Begin Game Styling*/

#gamewrap img {
  margin: 0px;
  padding: 0px;
  display: inline;
  width: 100%;
  height: auto;
}

#gamewrap h1 {
  margin-top: 15px;
  margin-left: 35%;
  margin-right: 35%;
}

#game {
  margin: 15px;
  background-color: #8b7266;
  padding: 15px;
  border: 4px solid #736259;
}

#game button {
  width: 75%;
  margin: 5px;
}

#question{
  background-color: #729678;
  border: 1px solid #736259;
  border-radius: 5px;
  padding: 10px;
  margin: 20px;
  font-weight: bolder;
  font-style: italic;
}

#inprogress {
  display: none;
}

#playagain {
  display: none;
}

#sharescore {
  margin-left: 100px;
  margin-right: 100px;
  display: none;
}

#startbtn, #againbtn {
  border-radius: 10px;
  background-color: #729678;
  color: white;
}

#startbtn:hover, #againbtn:hover {
  background-color: #006400;
}

#answers button {
  background-color: #EB553F;
  color: white;
}

#answers button:hover {
  background-color: #B22222;
}

#score {
  margin-top: 7px;
  margin-bottom: 20px;
  background-color: #736259;
  font-family: 'SF Hollywood Hills', sans-serif;
  font-size: 24px;
}

#gameover {
  font-size: 24px;
  font-style: italic;
}

#sharescore button {
  border-radius: 10px;
  background-color: #EB553F;
  color: white;
}

#sharescore button:hover {
  background-color: #B22222;
}

/*
  Begin facts section
*/

#facts img {
  margin: 0px;
  padding: 0px;
  display: inline;
  width: 100%;
  height: auto;
}

#facts h1 {
  margin-top: 15px;
  margin-left: 35%;
  margin-right: 35%;
}

#factlist {
  display: inline-block;
  width: 80%;
  border: 2px solid #8B7266;
  border-radius: 5px;
  padding: 5px;
}

#may20facts li {
  color: white;
}

.factitem ul {
  list-style-type: none;
  font-size: 13px;
}

#may20facts > li {
  color: #EB553F;
  margin-top: 5px;
  margin-right: 10%;
  padding-bottom: 5px;
  border-bottom: 2px dotted #8B7266;
}

#may20facts > li:last-child {
  border: 0px;
}

/*
  Begin resources styling
*/

#resources img {
  margin: 0px;
  padding: 0px;
  display: inline;
  width: 100%;
  height: 100%;
}

#resources h1 {
  margin-top: 15px;
  margin-left: 25%;
  margin-right: 25%;
}

#recommendations {
  margin-top: 10px;
  padding-top: 0px;
}

.recommendation {
  display: inline-block;
  width: 80%;
  margin: 10px;
  padding: 15px;
  border: 2px solid #EB553F;
  border-radius: 10px;
}

.reccontent {
  font-size: 12px;
  padding: 10px;
}

/*
  Begin contact styling
*/

#contact img {
  margin: 0px;
  padding: 0px;
  display: inline;
  width: 100%;
  height: auto;
}

#contact h1 {
  margin-top: 15px;
  margin-left: 35%;
  margin-right: 35%;
}

#contactformwrap {
  background-color: #729678;
  width: 65%;
  padding: 1%;
  display: inline-block;
  border: 3px solid #8B7266;
  border-radius: 5px;
}

#contactformwrap h6 {
  color: black;
}

#contactcontents {
  width: 90%;
}

#submitbtn {
  background-color: #EB553F;
  color: white;
}

#submitbtn:hover {
  background-color: #B22222;
}

/*Footer Styling
  I referenced https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_social_media_buttons for social media icons
*/

#bottom {
  background-color: #8B7266;
}

.fa {
  padding: 10px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 10px;
  border-radius: 100px;
}

.fa:hover {
  text-decoration: none;
  color: white;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.copyright {
  background-color: #736259;
  font-weight: bolder;
  padding: 0px;
  margin: 0px;
}

.copyright a{
  color: #729678;
}
